<section>
  <h2>Proyecto:</h2>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full mb-2">
      <mat-label>Nombre:</mat-label>
      <input
        formControlName="name"
        type="text"
        matInput
        placeholder="Ej. Proyecto1..."
      />
      @if(name?.hasError('required')) {
      <mat-error>El nombre es requerido</mat-error>
      } @if(name?.hasError('minlength')) {
      <mat-error>El nombre debe tener al menos 3 caracteres</mat-error>
      }@if(name?.hasError('maxlength')) {
      <mat-error>El nombre debe tener menos de 150 caracteres</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Descripción:</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Ej. Esto es una breve descripcion..."
      ></textarea>
      @if(description?.hasError('required')) {
      <mat-error>La descripción es requerida</mat-error>
      } @if(description?.hasError('minlength')) {
      <mat-error>La descripción debe tener al menos 3 caracteres</mat-error>
      }
    </mat-form-field>

    @if(currentUser?.selectedRole?.name === 'ADMIN') {

    <h2>Agregar más usuarios (Opcional):</h2>
    <div class="flex justify-center consulta">
      <mat-form-field class="w-full">
        <mat-label>Nombre de usuario:</mat-label>
        <input
          #busqueda
          type="text"
          matInput
          placeholder="Ej. juan68..."
          (keydown.enter)="$event.preventDefault(); search(busqueda.value)"
        />
      </mat-form-field>
      <button mat-fab extended type="button" (click)="search(busqueda.value)">
        <span>Buscar</span>
        <mat-icon>search</mat-icon>
      </button>
    </div>
    @if(filtersUsers.length > 0){
    <h3>Usuarios seleccionados:</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="onCheckboxChange($event, row)"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Usuario:</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Nombre:</th>
        <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo:</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Rol:</th>
        <td mat-cell *matCellDef="let element" class="role-cell">
          <div class="rol-select">
            <mat-form-field (click)="$event.stopPropagation()">
              <mat-label>Rol:</mat-label>
              <mat-select
                (selectionChange)="onRoleChange($event, element)"
                [value]="element.selectedRole?.name || 'USER'"
              >
                @for (role of roles; track $index) {
                <mat-option [value]="role.name">{{ role.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="toggleRow(row)"
      ></tr>
    </table>

    }@else {
    <mat-chip class="w-full">No se encontraron usuarios...</mat-chip>
    } }@if(selectedUsers.length > 0){
    <h3>Usuarios del proyecto:</h3>
    <div class="flex flex-wrap gap-2">
      @for (userSelect of selectedUsers; track $index) {
      <mat-chip-row>
        {{ userSelect.userName }} ({{ userSelect.selectedRole?.name }})
        @if(currentUser?.selectedRole?.name === 'ADMIN') {
        <button matChipRemove (click)="remove(userSelect)">
          <mat-icon>cancel</mat-icon>
        </button>
        }
      </mat-chip-row>
      }@empty {<mat-chip class="w-full"
        >No hay usuarios seleccionados...</mat-chip
      >}
    </div>
    } @if(currentUser?.selectedRole?.name === 'ADMIN') {
    <div class="mt-4 flex justify-end">
      <button class="crear" mat-fab extended type="submit">
        <span>Actualizar proyecto</span>
        <mat-icon>save</mat-icon>
      </button>
    </div>
    }
  </form>
</section>

<!-- Floating Button to Toggle Chatbox -->
@if(!isChatboxVisible){
<button
  class="floating-button rounded-full animate-float"
  (click)="toggleChatbox()"
>
  <img
    src="assets/icono_chat.png"
    alt="Chat"
    class="w-full h-full object-cover rounded-full"
  />
</button>
}

<!-- Chatbox Section -->
@if(isChatboxVisible){
<section
  class="chatbox-section fixed bottom-0 right-0 w-full md:w-1/3 bg-white border rounded-t-lg p-4 h-full overflow-y-auto shadow-lg"
>
  <div class="flex justify-between items-center mb-4">
    <h3>Chat del Proyecto:</h3>
    <button mat-icon-button (click)="toggleChatbox()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="chatbox-container border rounded-lg p-4 h-full overflow-y-auto">
    @for (message of messages; track $index) {
    <div class="message mb-2">
      <div class="message-header flex justify-between items-center">
        <span class="font-bold">{{ message.user }}</span>
        <span class="text-xs text-gray-500">{{
          message.timestamp | date : "short"
        }}</span>
      </div>
      <div class="message-body" [innerHTML]="message.text"></div>
    </div>
    }
    @if(isLoading){
    <div class="message mb-2">
      <div class="message-header flex justify-between items-center">
        <span class="font-bold">Asistente Personal</span>
        <span class="text-xs text-gray-500">Fecha Hoy</span>
      </div>
      <div class="message-body">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </div>
    }
  </div>
  <div class="chatbox-input mt-4 flex">
    <input
      matInput
      [(ngModel)]="newMessage"
      placeholder="Escribe un mensaje..."
      class="flex-grow p-2 border rounded-l-lg"
    />
    <button
      mat-raised-button
      color="primary"
      (click)="sendMessage()"
      class="rounded-r-lg"
    >
      Enviar
    </button>
  </div>
</section>
}
